h1{
    color:lightgreen;
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 10px;
}

.header  {
    border: solid;
}


.site-description{
    display: flex;
    background-color: rgb(0, 26, 255);
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    background-color: rgb(255, 81, 0);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    background-color: rgb(0, 255, 242);
    justify-content:space-between;
}

p,h2{
    text-align: center;
    background-color: rgb(255, 251, 0);
}
.body{
    background-color: #00ffff;
    
    }
    a:link{
        color:antiquewhite;
        
        }
        
        a:visited{
            color:black
        }
        
        .menu a{
        margin-right: 50px;
        
        }
        
        .item{
            position:relative;
        }
        
        .item p{
            position:absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            opacity: 0;
        }
        
        .item:hover p{
            opacity: 1;
        }
    
        .item:hover img{
            opacity: 0.33;
        } 
        
        .grid img{
            /*margin-left: 5px;
            margin-right: 5px;
            margin:80px*/
            padding:80px
        }